altgraph==0.17.5
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
cssselect2==0.8.0
CTkMessagebox==2.7
customtkinter==5.2.2
darkdetect==0.8.0
defusedxml==0.7.1
future==1.0.0
idna==3.10
ipapi==1.0.4
packaging==25.0
pillow==12.0.0
pixela2img==2018.1
pycparser==2.23
requests==2.32.5
setuptools==80.9.0
tinycss2==1.5.1
urllib3==2.5.0
webencodings==0.5.1
